
html{
	width: 100%;
}
body{
	width:100%;
	min-width: 640px;
	font-family: "PT Sans Narrow";
	font-size: 14px;
	font-weight: bold;
	line-height: 24px;
	background-image:url(../img/backgroundindex.png);
	background-repeat: no-repeat;
	background-color: #242424;
	margin:0;
}

.page{
	width: 960px;
	margin:0 auto;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
	background-color: pink;
}

.title-h1{
	display: inline-block;
	font-size: 30px;
	line-height: 42px;
	margin-top:60px;
	margin-bottom:0;
}
/*-------------------------header-----------------*/
.header-main{
	width: 100%;
	height: 75px;
	background-color:#000000;
	box-sizing: border-box;	
}

.menu-list__style{
	list-style: none;
	margin:0;
	padding: 0;
}

.menu-list__style li{
	display: inline-block;
}

.menu-links{
	text-decoration:none;
	font-size: 16px;
	line-height: 20px;
	text-transform: uppercase;
	color: #ffffff;	
}

.menu-items__style{
	margin-right: 20px;	
}
.menu-items__style:last-child{
	margin-right: 0;
}

.singin .menu-links{
	margin-right:0;
}

.header-menu{
	height: 75px;
	padding: 25px 30px;
	box-sizing: border-box;
	/*vertical-align: middle;*/
}

.clearfix::after{
	content: '';
	display: table;
	clear: both;
}

.header-menu__items{
	width: 750px;
	float: left;
}

.singin{
	width: 35px;
	float: right;
	position: relative;
	padding-left:33px;
}

.singin-icon:before{
	content: '';
	position: absolute;
	top:3px;
	left:0;
	background: url(../img/singin-icon.png);
	background-repeat: no-repeat;
	width: 20px;
	height: 16px;
	margin-right:15px;
}
/*-------------------------main---------------------*/
.container{
	font-size: 14px;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff;
}
.logo{
	width: 100%;
	text-align: center;
	margin-top:65px;
}
.features{
	margin-top: 30px;
}
.features-content{
	box-sizing: border-box;

}

.features-items{
	width: 300px;
	float:left;
	text-align: center;
	margin-right: 20px;
}

.features-items:last-child{
	margin-right: 0;
}

.features-title{
	font-size: 30px;
	line-height: 42px;
}
.features-icon{
	margin-top: 20px;
	background-color: #ffffff;
	background-size: 20px 20px;
	bottom:50px;
	top: 0;
	left:0;
	width: 20px;
	height: 20px;
}

.features-text{
	padding-top: 75px;
	margin: 0;
}

.content-info{
	color:#000000;
	margin-top: 85px;
	background-color: #f9f6f3;
	padding: 55px 80px;

}

.content-info:last-child{
	margin-top: 35px;
}

.content-container {

}

.content-box{
	width:380px;
	float: left;
	position: relative;
	padding-right: 20px;
	margin-right: 80px;
}

.box-smaller{
	width: 300px;
}

.content-box:first-child{
	padding-left:0;
}
.content-box:last-child{
	padding-right:0;
	margin-right:0;
}

.list-news{
	list-style: none;
	padding-left: 0;

}
.shadow:after{
	content: '';
	position: absolute;
	top:0;
	right:0;
	background: url(../img/shadow.png);
	width: 8px;
	height: 280px;
}

.photo-content{
	margin: 0;
}
.content-title{
	margin:0;
}
/*---------------------------footer--------------------------*/
.footer{
	color: #ffffff;
	text-transform: uppercase;
	background-color:#242424;
	height: 193px;
	padding-top: 65px;
	padding-bottom: 45px;
	box-sizing: border-box;
	margin-top: 65px;
}
.footer-content{
	
}

.footer-contact{
	width: 320px;
	float: left;
	margin-right: 70px;
}

.footer-contact p{
	margin:0;
}
.footer-links{
	width: 160px;
	float:left;
	margin-right: 240px;
}

.footer-dev{
	width: 150px;
	float: left;
}
/*--------------------------------------bardershop-shop--------------------------------*/
.background-none{
	background-image:none;
	color: #000000;
	background-color: #f9f6f3;

}

.page-shop{
	width: 960px;
	margin:0 auto;
	padding-right:10px;
	padding-left: 10px;
	box-sizing: border-box;
	
}

.container-shop{
	color:#000000;
}
.logo-name{
	display: inline-block;
	vertical-align: middle;
	float:left;
	margin-right: 40px;
}
.menu-shop__items{
	width: 560px;
}
.bar-left{
	width: 200px;
	float: left;

}
/*---------------------grid-shop-----------------*/
.grid-shop{
	width: 700px;
	float: left;
	margin-bottom: 45px;

}
.grid-img{
	float:left;
	margin-right: 20px;
	margin-bottom: 20px;
    background-color: #ffffff;
    width: 220px;
}
.grid-img:nth-child(3n+3){
	margin-right: 0;
}
/*-----------pagination------------*/
.pagination{
	float: left;
}
/*---------------------------main-----------------------------*/

.breadcrumbs-panel{
	margin-top: 30px;
}
.breadcrumbs {
    margin-top:0;
    margin-bottom: 0;
    padding-left: 0;
}

.breadcrumbs__items{
	list-style: none;
	display:inline-block;
	margin-right: 40px;
}
.breadcrumbs__items:last-child{
	margin-right:0;
}

.breadcrumbs__links{
	text-decoration: none;
	font-size: 14px;
	text-transform: uppercase;
	line-height: 20px;
	color: #000000;

}
.container-shop{
	margin-top:60px;
}


.inner-container-shop{
	margin-top: 60px;
	
}
.preview-img-container{
	width: 460px;
	margin-right: 90px;
	float: left;
	
}
.preview-img{
	margin-bottom: 20px;	


}
.img-small{
	float: left;
	margin-right:20px;
}
.img-small:last-child{
	margin-right: 0;
}

.inner-discription-good{
	
}


